@import "./variables.scss";
@import "./normalize.scss";
@import "./components/buttons.scss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h6,
h6 {
  margin: 0;
  padding: 0;
}

[class*="__container"] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
